<style>
a:link
{
	color: rgb(255,255,255); 
}
a:visited
{
	color: rgb(51,102,153); 
} 
a:active 
{
	color: rgb(102,255,0);
}
body
{
	background-color: rgb(0,0,0);
	color: rgb(204,204,204);
}
table
{
	table-border-color-light: rgb(204,204,204);
	table-border-color-dark: rgb(102,102,102); 
}
h1
{
	color: rgb(0,153,0);
}
h2
{
	color: rgb(51,102,255); 
}
h3
{
	color: rgb(255,204,0); 
}
h4
{
	color: rgb(0,153,0);
}
h5
{
	color: rgb(51,102,255);
}
h6
{
	color: rgb(255,204,0);
}
</style>.
