vti_encoding:SR|utf8-nl
vti_httpdversion:SX|FrontPage-PWS32/3.0.2.1330
vti_longfilenames:IX|1
vti_restartmanual:IX|0
vti_timecreated:TR|16 Sep 2024 17:47:27 -0700
vti_oldestcompatibleversion:SR|2.0.0.0
vti_navbuttonhomelabel:SR|Home
vti_webservertype:SR|frontpage
vti_dependenciesood:IR|0
vti_autorecalc:IX|1
vti_casesensitiveurls:IX|0
vti_extenderversion:SR|3.0.2.1330
vti_navbuttonprevlabel:SR|Back
vti_textextensions:SX|.txt.
vti_defaultcharset:SR|none
vti_themedefault:SR|zero 011
vti_welcomenames:VX|index.htm
vti_defaultlanguage:SR|en
vti_navbuttonuplabel:SR|Up
vti_htmlextensions:SX|.htm.html.shtml.shtm.htx.asp.alx.asa.
vti_navbuttonnextlabel:SR|Next
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer
vti_title:SR|theretrogeek-site
